{{>head}}
{{>navbar}}

<div class="row">

    <div class="col-8">
        <h1>Initial Commit</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis modi repellat harum facere consectetur nihil ipsa provident dolorum dicta enim, ab voluptas sequi, corporis ea exercitationem fugit, minus est. Accusantium.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/commit.png" alt="" class="img-thumbnail">
    </div>

</div>

{{>footer}}